.contenedor-seccion-escuelas {
  display: flex;
  justify-content: flex-start;
  /* align-items: baseline; */
  gap: 4rem;
  align-items: center;
}

.contenedor-ciudades-go4it {
  display: flex;
  flex-direction: column;

}

.ciudades-go4it {
  position: relative;
  transform: translateX(0);
  filter: brightness(75%);
  transition: transform 0.3s ease, filter 0.3s ease;

}


.ciudades-go4it img {
  max-width: 200px;
}

.ciudades-go4it:hover,
.ciudades-go4it.clicked {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.ciudades-go4it.clicked {
  transform: translateX(8px);
  filter: brightness(100%);

  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}



.contenedor-tarjetas {
  border: 1px solid transparent;
  width: 100%;
}


/* .lista-escuelas-go4it {
   display: flex;
  flex-wrap: wrap;
   justify-content: center;
  gap: .5rem;
  height: 100%;
  justify-content: space-between; 
  display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 2rem;
} */

.lista-escuelas-go4it {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  gap: 1rem;



  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 1rem 0;


}

.card-ciudad-go4it {
  /* width: calc(33.33% - 40px); */
}

.card-ciudad-go4it {
  max-width: 288px;

}


.card-ciudad-go4it {
  transition: opacity .3s, visibility .3s;
}


.nombre-ciudad {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 0;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  width: 100%;

}

.ciudades-go4it:hover .nombre-ciudad {
  transition: opacity 0.3s ease;
  cursor: pointer;

  opacity: 1;
}


.card-body-go4it {
  padding: .5rem;
}

.card-body-go4it p {
  margin-bottom: .5rem;

}

.tarjetas-escuelas {
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(1, 0, 0, .3);
  transition: .3s all ease;
  background: #fff;

  max-height: 390px;

}

.tarjetas-escuelas {
  height: 100%;
}

.tarjetas-escuelas:hover {
  transform: scale(1.01);
  transition: .3s all ease;
}


.tarjetas-escuelas img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-height: 60px;
  padding: .25rem;

  object-fit: scale-down;

}

.card-img-top {
  border-bottom: 1px solid var(--primario-color-celeste);
}

.card-text {
  font-size: 14px;
}


.card-body-go4it {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%;  */
}


.contenedor-ciudades-go4it {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}




.escuelas {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 
.card-ciudad-go4it{
  max-width: 288px;

} */

@media (max-width:1025px) {
  .card-ciudad-go4it {
    max-width: 229px;

  }
}



@media (max-width:960px) {
  .contenedor-seccion-escuelas {

    gap: 1rem;
    /* align-items: flex-start; */
    /* flex-direction: column; */
  }

  .contenedor-tarjetas {


    /* width: calc(50vw - 20px) */
  }

  .carrusel-cards {
    width: 100%;
    /* max-width: 530px; */

    max-width: calc(71vw - 20px);

  }

  .card-ciudad-go4it {
    max-height: unset;
    /* width: 100%; */
    /* width: 225px; */
    width: 280px;
    padding-left: 10px;

  }

  .tarjetas-escuelas {
    max-height: unset;
  }

  .lista-escuelas-go4it {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
  }




}


@media (max-width:768px) {
  .contenedor-seccion-escuelas {
    gap: 1rem;
    /* align-items: flex-start; */
    flex-direction: column;
  }

  .carrusel-cards {
    width: 100%;
    /* max-width: 530px; */
    max-width: calc(94vw - 20px);
  }

  .contenedor-ciudades-go4it {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .ciudades-go4it.clicked {
    transform: translateX(0);
    transform: translateY(8px);
  }

  .ciudades-go4it img {
    max-height: 110px;
    width: 100%;
  }


}


@media (max-width:426px) {

  .contenedor-ciudades-go4it {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .ciudades-go4it img {

    height: 110px;


  }

  .ciudades-go4it.clicked img {
    border-radius: 4px;
    transition: border-radius .3s ease-in-out;
  }

  .ciudades-go4it.clicked {
    transform: translateX(0);
    transform: scale(1.05);
    z-index: 5;
  }





}