.section-banner-escuelas-go4it {
    /* display: flex;
    padding: 1.5rem 0; */
    flex-direction: row;
    justify-content: center;
}

.contenedor-escuelas-go4it {
    /* max-width: 1200px; */
    width: 100%;
    /* display: flex; */
    padding: 0px 20px;
    align-items: inherit;
    flex-direction: inherit;
    justify-content: inherit;
}

.contenedor-escuelas-go4it h3{
    /* background: var(--lighter-primario-color-verde); */
    padding: 0.25rem;
    margin: 0;
}

.contenedor-img-escuelas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    width: 100%;


}

.section-banner-escuelas-go4it img {
     width: 100%; 
    max-width: 500px;
    height: 250px;
    object-fit: cover;
}

.bajada-escuelas-go4it {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.contenedor-bajada-go4it {
    padding: 1.5rem 0;
    background: var(--fondo-1);
}

.contenedor-bajada-go4it-2 {
    padding: 1.5rem 0;
    background: var(--fondo-blanco);
}

.escuelas-row-go4it {
    display: flex;
    flex-direction: column;
}

.bajada-escuelas-go4it {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.texto-escuelas-go4it {
    width: 100%;
}

.txt-escuelas-go4it-h2 {
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    padding: 1rem;
}

.info-clases-go4it {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: space-around;
    align-items: stretch;
    padding: .725rem 0 2.725rem 0;
}

.info-clases-doble{
    grid-template-columns: repeat(3, 1fr);

}

.despliegue-mapa {
    height: 250px;
    max-height: 240px;
    /* width: 500px;
    max-width: 500px; */
    width: 100%;
}

.mapa-escuelas {
    z-index: 1;
    /* border: 1px solid #000; */
}

.horario-escuelas {
    /* border: 1px solid var(--primario-color-celeste); */
    /* border-radius: 5px; */
    position: relative;
    background: var(--fondo-1);
    box-shadow: 0px 2px 8px rgba(1, 0, 0, .3);

}

.horario-escuelas .titulo-horario {
    display: block;
    padding: .725rem 2.5rem;
    /* border-bottom: 1px solid var(--primario-color-celeste); */
    background: var(--fondo-gris);
    color: #fff;

}

.mapa-escuelas {
    /* border: 1px solid var(--primario-color-celeste); */
    /* border-radius: 5px; */
    position: relative;
    background: var(--fondo-1);
    box-shadow: 0px 2px 8px rgba(1, 0, 0, .3);

}

.mapa-escuelas span {
    display: block;
    padding: .725rem 2.5rem;
    background: var(--fondo-gris);
    color: #fff;

    text-wrap: balance;

}




.card-escuelas {
    margin-top: 1rem;
    padding: 1.25rem;
}

.card-escuelas .horario{
    margin-bottom: 1rem;
}

.card-escuelas .horario h6{
    padding: .125rem;
    margin-bottom: 0;
}

.card-escuelas .turno p {
    margin: 0;
}

/* .card-escuelas p:nth-child(2n) {
    margin: 0rem;
} */

/* .horario-escuelas span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
} */


.mision-vision-bajada{
    text-align: center;
}



@media (max-width:769px) {

    /* .video-escuelas iFrame{
        max-width: 394px;
        max-height: 224px;
    } */
    .info-clases-go4it {
        gap: 1rem;
        /* display: flex; */
        display: grid;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        grid-template-columns: repeat(1, 1fr);
    }

    .video-escuelas iframe {
        width: -webkit-fill-available;
    }

    .despliegue-mapa {
        height: 250px;
        max-height: 240px;
        width: 100%;
        max-width: 100%;

    }

    .bajada-escuelas-go4it {
        flex-direction: column;

    }
    .card-escuelas {
        margin-top: 0;
        padding: 1rem;
    }
}

/* @media (max-width: 660px) {
    .info-clases-go4it {
        gap: 1rem;
        display: grid;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        grid-template-columns: repeat(1,1fr);
    }
}
 */


@media (max-width: 426px) {
    /* .info-clases-go4it {
        gap: 1rem;
        display: grid;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        grid-template-columns: repeat(1,1fr);
    } */

    .contenedor-escuelas-go4it {
        max-width: 420px;
    }

    .contenedor-img-escuelas {
        overflow-x: scroll;
        gap: 0.75rem;

    }




    .contenedor-img-escuelas img:nth-child(1) {
        order: 2;
    }

    .contenedor-img-escuelas img:nth-child(2) {
        order: 3;
    }

    .contenedor-img-escuelas img:nth-child(3) {
        order: 1;
    }

    .contenedor-img-escuelas.icot-img img:nth-child(1) {
        order: 2;
    }

    .contenedor-img-escuelas.icot-img img:nth-child(2) {
        order: 1;
    }

    .contenedor-img-escuelas.icot-img img:nth-child(3) {
        order: 3;
    }
    .contenedor-img-escuelas.sc-img img:nth-child(1) {
        order: 1;
    }

    .contenedor-img-escuelas.sc-img img:nth-child(2) {
        order: 2;
    }

    .contenedor-img-escuelas.sc-img img:nth-child(3) {
        order: 3;
    }
    
    
    
    
    .section-banner-escuelas-go4it img {
        /* width: auto; */
        max-height: 250px;
        /* min-width: 370px; */
    }


    .txt-escuelas-go4it-h2 {
        line-height: 28px;
        font-size: 18px;
        padding: 0 0 1rem 0;
    }


    .video-escuelas iframe {
        max-height: 250px;
    }
}


@media (max-width: 376px) {

    .despliegue-mapa {

        max-width: 300px;
    }
}

