* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'REM', sans-serif;
    color: #212529;

}

a {
    text-decoration: none !important;
    color: black;
}

ul {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* main {
    background: #f7f9fa;
} */


/* *Transvesal */

.container-go4it {
    margin-right: 4rem;
    margin-left: 4rem;


    /* max-width: 1200px; */
    /* width: 100%; */
    /* display: flex; */
    /* padding: 0px 24px; */
    /* align-items: inherit;
    flex-direction: inherit;
    justify-content: inherit; */
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;

}


.gradient-fill {
    animation: gradient-fill 7s linear infinite;
    transform: translateZ(0);
    background-size: 200% 200%;
    /* background-image: radial-gradient(circle at 100% 60%, var(--color-2), var(--darker-3), var(--lighter-1), #ecedef 165%, #f0eff0 165%); */
    /* background-image: radial-gradient(circle at 100% 60%, #fc5e9b, #735adb 73%, #3f90e5 88%, #ecedef 165%, #f0eff0 165%); */
    background-image: var(--radial-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

@-moz-keyframes gradient-fill {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}

@keyframes gradient-fill {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.btn-go4it {
    /* padding: 6px 18px; */
    padding: 8px 24px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 3px;

    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color .2s ease, color .2s ease;
}

.btn-go4it:hover {
    transition: .2s all ease;
    background-color: rgb(71, 82, 196);
    border-radius: 1px;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.btn-go4it:active {
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}


.btn-escuela-go4it {
    padding: 4px 18px;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 3px;
    width: 100%;

    color: #fff;
    /* border:1px solid var(--morado-gradiant); */
    border-radius: 5px;
    background-color: var(--primario-color-celeste);


}

.btn-escuela-go4it:hover {
    transition: .5s all ease;
    color: #ffffff;
    background-color: var(--darker-primario-color-celeste);
    /* border: none; */
}


.text-verde {
    color: var(--primario-color-verde)
}

.text-celeste {
    color: var(--primario-color-celeste)
}

.text-celeste-claro {
    color: var(--primario-color-celeste-claro)
}

.text-celeste-oscuro {
    color: var(--primario-color-celeste-oscuro)
}

.text-morado {
    color: var(--primario-color-morado)
}

.text-amarillo {
    color: var(---primario-color-amarillo)
}





.txt-go4it-h2 {
    font-weight: 500;
    line-height: 52px;
    font-size: 32px;
    padding: 1rem 0;

}

.txt-go4it-h3 {
    font-weight: 400;
    line-height: 48px;
    font-size: 28px;
    padding: 1rem 0;
}


.text-left-go4it {
    text-align: left;
}

.text-left-go4it img {
    padding-right: .5rem;
}


/* !REVISAR PARA BORRAR */
.contenedor-seccion-go4it {
    display: flex;
    flex-direction: column;
}

.titulo-descarga-go4it {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.titulo-descarga-go4it h3 {
    font-size: 32px;
    margin: 0;
}


.titulo-descarga-go4it div {
    display: flex;
    color: #000000;
    background: var(--primario-color-amarillo);
    gap: 8px;
    /* padding: 4px; */
    padding: 8px 24px;

    border-radius: 5px;
    align-items: center;
}

.titulo-descarga-go4it div:hover {
    background: var(--lighter-primario-color-amarillo);
}

.titulo-descarga-go4it a {
    color: #000000;
    font-size: 14px;
}




/* ?Banner */
.section-banner-go4it {
    /* padding-top: 5.5rem; */
    display: flex;
    /* padding-bottom: 72px; */
    padding: 1.5rem 0;
    flex-direction: row;
    /* justify-content: center; */
    /* background: var(--color-4-opacity-1); */
}

.contenedor-principal-go4it {
    max-width: 1200px;
    width: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: inherit;
    flex-direction: inherit;
    justify-content: inherit;
}

.svg-banner-izquierda {
    display: block;
    top: 0;
    left: -1px;
    height: 100%;
    position: absolute;
}

.svg-banner-derecha {
    right: 24px;
    bottom: 24px;
    display: flex;
    position: absolute;
    max-width: 80%;
}

.contenedor-banner-go4it {
    width: 100%;
    display: flex;
    /* margin-top: 48px;
    margin-bottom: 48px; */
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 6rem; */
    padding: 6rem 6rem 6rem 0;
}

.img-banner {
    max-width: 100%;
    /* max-height: 400px; */
    /* clip-path: polygon(10% 0, 100% 0, 92% 100%, 0 100%) */
}

.contenedor-texto-go4it h1 {
    font-weight: 600;
    line-height: 52px;
    font-size: 48px;
}

.contenedor-texto-go4it p {
    font-size: 18px;
}


/* ? porque irlanda */

.porque-go4it {
    padding: 1.5rem 0;
    /* background: var(--color-3-opacity-1); */
    background: var(--fondo-1);

}

.section-row-go4it {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: flex-end;
    justify-content: space-between;
}


.imagenes-porque-go4it {
    flex-basis: 50%;
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr;  */
    gap: 10px;
}

.texto-section-go4it {
    flex-basis: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-grande {
    width: 50%;
    text-align: left;
}

.imagenes-porque-go4it .img-small {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}


/* ? Escuelas */

.contenedor-escuelas-go4it {
    padding: 1.5rem 0;
    /* background: var(--primario-color-celeste-opacity-2); */

}



/* ? Nosotros */
.contenedor-nosotros-go4it {
    padding: 1.5rem 0;
    background: var(--fondo-1);
}

.imagenes-nosotros-go4it {
    display: flex;
    gap: 1rem;
}

.imagen-nosotros {
    max-height: fit-content;
    width: auto;
    /* margin: 0 10px; */
    max-width: 250px;
    object-fit: cover;
}



/* ? Form */

.infoContacto {
    padding: 1.5rem 0;
    text-align: center;

}

/*
.formInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    padding: 2rem;
   border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(1, 0, 0, .3);
    transition: .3s all ease;
    background: #fff; 
}
*/

.formInfo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    width: 100%;
    margin: 4rem auto;
    padding: 32px 24px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(43, 214, 103, 1) 34%, var(--primario-color-celeste) 85%);
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgba(43, 214, 103, 1) 34%, var(--primario-color-celeste) 85%) border-box;
    border-radius: 24px;

}


.form-group-go4it {
    position: relative;
    width: 100%;
}

.form-group-go4it input,
.form-group-go4it textarea,
.form-group-go4it select {
    /* border: 1px solid #fff; */
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    /* margin: 1rem; */
    border: 1.2px solid #dee2e6;
    transition: border-color .3s ease-in-out;
    outline: none;
    /* color: #ddd; */
     background: #fff; 
}

.form-group-go4it label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    padding: 0 4px;
    color: #797d7e;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.form-group-go4it input:hover,
.form-group-go4it textarea:hover,
.form-group-go4it select:hover {
    border-color: var(--primario-color-celeste-opacity-4);
}

.form-group-go4it input:focus,
.form-group-go4it textarea:focus,
.form-group-go4it select:focus {
    border-color: var(--primario-color-celeste);
}

.form-group-go4it input:focus+label,
.form-group-go4it input:not(:placeholder-shown)+label {
    opacity: 1;
    top: 0;
    padding: 0 4px;
    /* color: var(--color-negro-claro); */
    color: var(--primario-color-celeste-oscuro);

    background: #fff;
}

.form-group-go4it textarea:focus+label,
.form-group-go4it textarea:not(:placeholder-shown)+label {
    opacity: 1;
    top: 0;
    padding: 0 4px;
    /* color: var(--color-negro-claro); */
    color: var(--primario-color-celeste-oscuro);
    background: #fff;
}

.form-group-go4it select:focus+label,
.form-group-go4it select:not(:placeholder-shown)+label {
    opacity: 1;
    top: 0;
    padding: 0 4px;
    /* color: var(--color-negro-claro); */
    color: var(--primario-color-celeste-claro);
    background: #fff;
}

.form-group-go4it input::placeholder,
.form-group-go4it textarea::placeholder {
    opacity: 1;
    transition: opacity .4s ease;
}


.form-group-go4it input:focus::placeholder,
.form-group-go4it textarea:focus::placeholder {
    opacity: 0;
    transition: opacity .3s ease;
}


.form-group-go4it input:not(:placeholder-shown):invalid {
    border-color: red;
}

/* .form-group-go4it input:invalid + label {
    color: red;
} */






/* ? Footer */

.contenedor-footer-go4it {
    padding: 1.5rem 0;
}

.svg-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#footer {
    position: relative;
    z-index: 1;
     background: var(--fondo-1); 

}

 .link-footer span {
    color: var(--texto-plomo);
} 

.link-footer:hover span {
    color: var(--color-negro);
    /* border-bottom: 1px solid var(--primario-color-celeste); */
}

.link-footer:hover .bi-envelope {
    color: #0084c6;
}

.link-footer:hover .bi-telephone {
    color: #0b6e31;
}

.link-footer:hover .bi-whatsapp {
    color: #24cc63;
}

.link-footer:hover .bi-instagram {
    color: #f62782;
}

.link-footer:hover span {
    border-bottom: 2px solid var(--primario-color-celeste);
}

.infoFoot h4:hover .bi-geo-alt {
    color: #ffd301;
}

.infoFoot .link-ciudades a{
    color: var(--texto-plomo);

}


.link-footer i {
    padding-right: 1rem;
}

.footer-info {
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}



.contenedor-footer-go4it h4 {
    /* color: #fff; */
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
    border-left: 2px solid var(--primario-color-morado);
    width: fit-content;
    padding-left: 0.25rem;
}

.infoFoot {
    font-weight: 300;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: .25rem;
}

.infoFoot h4{
    color: var(--texto-plomo-oscuro);

}

.infoFoot li{
    padding-left: 8px;
}










/* !BORRAR */
@media (max-width: 1024px) {
    .container-go4it {
        max-width: 100%;
    }

    .section-row-go4it {
        align-items: center;

    }

    .imagen-nosotros {
        max-width: 220px;
    }
}



@media (max-width: 768px) {

    .container-go4it {}

    .contenedor-principal-go4it {
        padding: 40px 20px;
    }

    .section-banner-go4it {
        align-items: center;
    }

    .contenedor-banner-go4it {
        padding: 0;
    }


    .contenedor-seccion-go4it {}

    .section-row-go4it {
        flex-direction: column-reverse;
        align-items: center;

    }

    .img-grande {
        width: auto;

    }

    .imagenes-porque-go4it {
        justify-content: center;
        align-items: center;
    }

    .img-small {
        gap: .5rem;
    }

    .img-small img {
        max-height: 195px;
    }








    .contenedor-nosotros-go4it .section-row-go4it {
        flex-direction: column;

    }



    .imagenes-nosotros-go4it {
        flex-direction: row;
    }

    .imagen-nosotros {
        max-height: 200px;
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .imagen-nosotros {
        max-width: 200px;
    }
}


@media (max-width:426px){

    .contenedor-principal-go4it{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .contenedor-texto-go4it h1 {
        font-weight: 600;
        line-height: 36px;
        font-size: 30px;
    }

    .btn-go4it{
        width: 100%;
        text-align: center;
        margin-bottom: .5rem;
    }

    .img-grande{
        display: none;
    }

    .imagenes-porque-go4it{
        width: 100%;
        flex-basis: unset;
    }

    .imagenes-porque-go4it .img-small{
        width: 100%;
    }

    .txt-go4it-h2{
        padding: 0;
    }

    .contenedor-imgbanner-go4it{
        width: 100%;
    }

    .img-banner{
        max-height: 400px;
        max-width: 100%;
        width: 100%;

    }

    .img-small img{
        object-fit: cover;

    }

    .titulo-descarga-go4it a {
         font-size: 12px;
    }
    
    .titulo-descarga-go4it h3 {
        font-size: 28px;
        font-weight: 400;
     }

     .footer-info {
        display: flex;
        flex-direction: row;
        /* max-width: 530px; */
        /* width: 100%; */
        flex-wrap: wrap;
        justify-content: space-between;
    }    

    .txt-go4it-h3{
        padding: 0;
    }

    .formInfo{
        gap: 1.25rem;
        margin: 2.25rem auto;
        padding: 24px 16px;

    }
}











@media (max-width: 376px) {
    .imagen-nosotros {
        max-width: 100%;
    }

    .imagenes-nosotros-go4it {
        overflow-y: scroll;
    }
}